
/*Clearfix begins here*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Clearfix Ends Here */




/*HomepageStyleSheet*/

body {
	max-width: 1080px;
	min-height: 1500px;
	margin: 50px auto 10px auto;
	padding: 50px;
	border: 4px solid #000;
	background-color: #ffffff;
	font-size: 80%;
	font-family: "Carrious Gothic", sans-serif; 
	letter-spacing: 0.15em;}


#navigation {
	position: absolute;
	height: 230px;
	border-right: 2px solid #000;
	padding: 20px;
	width: 150px;
	text-align: right;
	margin-top: 30px;

}

li {
	display: block;}
a {
	color: #000000;
	line-height: 45px;
	text-decoration: none; 
     }

a:hover {
	color: #cc3333;
	background-color: #ffffff;}

#intro { 
	position: relative;
	margin: -60px 0 0 300px;
	letter-spacing: .15em; 
	line-height: 1.5em;
	width: 500px;
	}

#work {
	position:relative;
	width: 700px;
	margin: 50px 0 0 280px;

}

#work li{
	float: left;
	padding:15px;
}

#about {
	position: relative;
	padding-top: 50px;
	margin-left: 300px;
	letter-spacing: .15em; 
	line-height: 1.5em;
	width: 500px;

}

#about img {
	padding-right:30px;
}







