
#block {
	width:100px;
	height:100px;
	background-color:white;
	position:relative;
	margin-left:1125px;
	margin-top:-50px;
}

/*First card starts here facebook*/

  .card { 
    position:relative;
    width:150px; 
    height:180px;
    float:left;
    margin-left:528px;
    
    margin-bottom:10px;
  }

  .card > div {
    position:absolute;
    top:0px;
    left:0px;
    width:150px;
    height:180px;
    text-align:center;
  
    -webkit-backface-visibility: hidden;
   
  }


  .card .front {
    position:relative;
    z-index:2;
  
    background:url(images/fb-button.png) no-repeat left top;
  }

  .card .back {
    z-index:1;
   
    background:url(images/fb-button-back.png) no-repeat left top;
  }

.card:hover .front {
     background:url(images/fb-button-blue.png) no-repeat left top;
  }

  .flip .front {
     z-index: 1;
     -webkit-transform: rotateY(180deg);
  }

  .flip .back {
    z-index:2;
    -webkit-transform: rotateY(0deg);
  }
  
  
  
  
  /*SECOND CARD STARTS HERE iphone*/
  
  
    .card2 { 
    position:relative;
    width:150px; 
    height:180px;
    float:left;
    margin-left:50px;
    
    margin-bottom:10px;
  }

  .card2 > div {
    position:absolute;
    top:0px;
    left:0px;
    width:150px;
    height:180px;
    text-align:center;
  
    -webkit-backface-visibility: hidden;
   
  }


  .card2 .front2 {
    position:relative;
    z-index:2;
  
    background:url(images/iphone.png) no-repeat left top;
  }

  .card2 .back2 {
    z-index:1;
   
    background:url(images/iphone-copy.png) no-repeat left top;
  }

.card2:hover .front2 {
     background:url(images/iphoneblue.png) no-repeat left top;
  }

  .flip2 .front2 {
     z-index: 1;
     -webkit-transform: rotateY(180deg);
  }

  .flip2 .back2 {
    z-index:2;
    -webkit-transform: rotateY(0deg);
  }
  
  
  
   /*THIRD CARD STARTS HERE html5 */
  
  
    .card3 { 
    position:relative;
    width:150px; 
    height:180px;
    float:left;
    margin-left:50px;
    
    margin-bottom:10px;
  }

  .card3 > div {
    position:absolute;
    top:0px;
    left:0px;
    width:150px;
    height:180px;
    text-align:center;
  
    -webkit-backface-visibility: hidden;
   
  }


  .card3 .front3 {
    position:relative;
    z-index:2;
  
    background:url(images/youtube.png) no-repeat left top;
  }

  .card3 .back3 {
    z-index:1;
   
    background:url(images/youtube-text.png) no-repeat left top;
  }

.card3:hover .front3 {
     background:url(images/youtube-hover.png) no-repeat left top;
  }

  .flip3 .front3 {
     z-index: 1;
     -webkit-transform: rotateY(180deg);
  }

  .flip3 .back3 {
    z-index:2;
    -webkit-transform: rotateY(0deg);
  }