



  .card { 
    position:relative;
    width:150px; 
    height:180px;
    float:left;
    margin-left:528px;
    
    margin-bottom:10px;
  }

  .card > div {
    position:absolute;
    top:0px;
    left:0px;
    width:150px;
    height:180px;
    text-align:center;
  
    -webkit-backface-visibility: hidden;
   
  }


  .card .front {
    position:relative;
    z-index:2;
  
    background:url(images/fb-button.png) no-repeat left top;
  }

  .card .back {
    z-index:1;
   
    background:url(images/fb-button-back.png) no-repeat left top;
  }

.card:hover .front {
     background:url(images/fb-button-blue.png) no-repeat left top;
  }

  .flip .front {
     z-index: 1;
     -webkit-transform: rotateY(180deg);
  }

  .flip .back {
    z-index:2;
    -webkit-transform: rotateY(0deg);
  }