body {
	font-family: Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}

h1 {
	font-size: 4em;
	font-weight: normal;
	font-family: "Arial Black",Gadget,sans-serif;
	color:#f71635;
	line-height: 1.4em;
}

h2 {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	color: #fec339;
	font-family: 'Libre Baskerville', serif;

}

h3 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	color: #7fcbbf;
	font-family: 'Libre Baskerville', serif;

}

p {
	margin: 20px auto;
	color:#a5a5a5;
	font-size:1.2em;
	font-family: "Libre Baskerville", serif;
	
}



ul {
	list-style: none;
}



/*----------------------------------------  BLOCKS */

.scrollblock {
	position: relative;
	margin: 0;
	width:100%;
	height:600px;

}

.scrollblock h2 {
	padding-top: 100px;
}



#intro {
	overflow: hidden;
	padding-bottom:15%;

}

#scrolling{
	padding-top:5%;
}

#title {
	margin: 80px auto 0;
	width: 960px;
	position: relative;

}

#title h2{
	font-size:10em;
	font-weight: normal;
	color:#f71635;
	font-family:"Arial Black",Gadget,sans-serif;
}

#title h1{
	margin-top:-3%;
	font-size:2em;
	font-weight: normal;
	color:#f71635;
	font-family:"Arial Black",Gadget,sans-serif;
}

#number-one {
	height:800px;
	background-color: #7fcbbf;
}

#number-one h1,h2,h3{
	color:white;
}

#number-two h3{
		color:#20af4b;
}

#number-three{
	background-color:#525252;
	height:800px;
}

#unpin2{
	padding:3%;
}

#number-seven {
	padding-top:25%;
	overflow: hidden;
}

#car-traffic{
	padding-top:20%;
}

#number-four{
	overflow: hidden;
}

#ducks2 {
	position: absolute;
	top: 200px;
	left:250px;
	color: #ae0079;
	opacity: .5;
	font-size: 3em;
	text-shadow: none;
}

#bike{
	margin-top:0;
	overflow:hidden;
}

#ducks3 {
	position: absolute;
	top: 320px;
	right: 400px;
	color: #ae0079;
	opacity: .4;
	font-size: 2em;
	text-shadow: none;
}


#community{
	margin-top:5%;
	line-height:0;
}


.under{
	width:390px;
	height:390px;
	margin-top:5%;
  	margin-left:35%;
}

.box { 
	position:absolute;
	width:390px;
	height:390px; 
  margin-top:-30%;
  margin-left:35%; 
  text-align:center; 
  padding:20px 0px;
  border-radius:5px;
  box-shadow: 5px 5px 5px #CCC;
  color:white;
  font-size:2em;
}

.type1 { background-color:#7fcbbf; }

