body {
	background:url("images/background.png");
	background:repeat;
	font-family: Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}

h1 {
	font-size: 4em;
	font-weight: normal;

	font-family: "Arial Black",Gadget,sans-serif;
	color:#f71635;
	text-shadow: 0 2px 1px #000;
	line-height: 1.4em;
}

h2 {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	text-shadow: 0 2px 1px #000;
	color: #fec339;
	font-family: 'Libre Baskerville', serif;
	text-transform: uppercase;
}

h3 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	color: #7fcbbf;
	text-shadow: 0 2px 1px #000;
	font-family: 'Libre Baskerville', serif;

}

p {
	width: 80%;
	margin: 20px auto;
	color:#a5a5a5;
	font-size:1.2em;
	font-family: "Libre Baskerville", serif;
	
}



ul {
	list-style: none;
}



blockquote {
	text-align: left;
	width: 720px;
	margin: 10px auto;
	background: #C5C3DE;
	border: solid 2px #69697A;
	padding: 0 40px;
}


/*----------------------------------------  BLOCKS */

.scrollblock {
	position: relative;
	margin: 0;
	width: 100%;
	height: 600px;
}

.scrollblock h2 {
	padding-top: 100px;
}



#intro {
	overflow: hidden;
	padding-bottom:10%;

}

#scrolling{
	padding-top:10%;
}

#title {
	margin: 60px auto 0;
	width: 960px;
	position: relative;

}

#number-one {
	height: 700px;
}

#unpin2{
	padding:3%;
}

#number-seven {
	padding-top:25%;
	overflow: hidden;
}

#car-traffic{
	padding-top:20%;
}

#number-four{
	overflow: hidden;
}

#ducks2 {
	position: absolute;
	top: 200px;
	left:250px;
	color: #ae0079;
	opacity: .5;
	font-size: 3em;
	text-shadow: none;
}

#bike{
	margin-top:0;
}

#ducks3 {
	position: absolute;
	top: 320px;
	right: 400px;
	color: #ae0079;
	opacity: .4;
	font-size: 2em;
	text-shadow: none;
}


#community{
	margin-top:5%;
	line-height:0;
}

